.unipolhero-inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.unipolhero-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
}

.unipolhero-image {
  width: 100%;
  display: block;
  border-radius: 1rem;
}

.unipolhero-text {
  position: absolute;
  top: 2rem;
  max-width: 50%;
  padding: 1rem 2rem;
  color: #fff;
  background: rgb(0 0 0 / 60%);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  z-index: 2;
}

.unipolhero-text-left {
  left: 2rem;
  right: auto;
  text-align: left;
}

.unipolhero-text-right {
  right: 2rem;
  left: auto;
  text-align: right;
}

@media (width <= 800px) {
  .unipolhero-text {
    max-width: 90%;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%);
    top: 1rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}